body{
  height: 100vh;
}

header{
  text-align: center;
}

img{
  margin-left: 0px;
}

input, textarea{
  min-width: 80%;
}

form{
  margin: 5rem 0rem;
}

.no-decor, .no-decor:hover{
  text-decoration: none;
  color: #000000;
}

.menu-heading{
  padding-top: 10px;
  min-height: 80px;
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  background-color: #555555;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
}

.container{
  position: relative;
  height: 100%;
  background-color: #555555;

}

.section.active{
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: auto;
  border: 1px solid #000000;

}

.section{
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: auto;
  border: 1px solid #000000;

}

.text-overlay{
  text-align: center;
}

.spacing{
  /* class used on empty div to provide spacing */
  min-height: 50px;
}

.shadow{
  box-shadow: 3px 3px 3px #555555;
}

/* IDs */

/* Photo IDs */
#my-photo{
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

#trophy-lift{
  display: block;
  max-width: 700px;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
}


#section-1{
  display: block;

}
#section-2{
  display: none;
}
#section-3{
  display: none;

}