header{
  text-align: center;
}

img{
  margin-left: 0px;
}

input{
  min-width: 80%;
  margin-left: 10%;
}

.no-decor, .no-decor:hover{
  text-decoration: none;
  color: #000000;
}

.menu-heading{
  padding-top: 10px;
  min-height: 80px;
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}

.container{
  position: relative;
  width: 100%;
  height: 100%
}

.wrapper{
  position: absolute;
  top: 80px;
  left: 0px;

}

/* IDs */

/* Photo IDs */
#my-photo{
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

#trophy-lift{
  display: block;
  max-width: 700px;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
}



#nav-1, #section-1{
  background-color: red;
}

#nav-2, #section-2{
  background-color: yellow;
}

#nav-3, #section-3{
  background-color: green;
}

#section-1{
  display: block;
}
#section-2{
  display: none;
}
#section-3{
  display: none;
}