header{
  text-align: center;
}

img{
  margin-left: 0px;
}

.no-decor, .no-decor:hover{
  text-decoration: none;
  color: #000000;
}

.menu-heading{
  padding-top: 10px;
  min-height: 80px;
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}


/* IDs */

/* Photo IDs */
#my-photo{
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

#trophy-lift{
  display: block;
  max-width: 700px;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#nav-1, #section-1{
  background-color: red;
}

#nav-2, #section-2{
  background-color: yellow;
}

#nav-3, #section-3{
  background-color: green;
}

